<button *ngIf="mediaInfoProcessing === ''" type="button" (click)="mediainfo(videoService.passLocalFile)">More Video Details</button>
<div *ngIf="!mediaInfoResult && mediaInfoProcessing !== ''">{{ mediaInfoProcessing }}</div>
<div *ngFor="let track of ((mediaInfoResult || {}).File || {}).track;let trackI = index;">
    <label>{{ track._type }}</label>
    <div class="container">
        <div class="row">
            <div class="col" size="6" size-sm="4" size-md="3" *ngFor="let t of track | keyvalue">
                <label>{{ t.key }}</label>
                <div>{{ t.value }}</div>
            </div>
        </div>
    </div>
</div>
