app-layout-vendor-portal-website
    
  app-header(
    backgroundImage='url("assets/img/bg-1.jpg")',
    heading='Vendor Portal',
    subHeading='We help the small businesses who help even smaller businesses.',
    [siteHeading]='true'
  )

  ng-container
    .container
      .row(style.height="100%", style.backgroundColor="green")
        .col-lg-8.col-md-10.mx-auto