table.table.table-bordered.table-fixed
  thead
    tr
      th.text-left.h2.noselect([attr.colspan]="rndInfo.length + 2", (click)="eventComp.shown = !eventComp.shown") 
        fa-icon.fa-sm.pr-2(*ngIf="eventComp.shown", [icon]='["fas", "caret-down"]')
        fa-icon.fa-sm.pr-2(*ngIf="!eventComp.shown", [icon]='["fas", "caret-right"]')
        | {{ eventComp?.name }}

  tbody
    tr(rolePermission="admin")
      td([attr.colspan]="rndInfo.length + 2")
        app-event-admin-team-add([eventSlug]="eventSlug", [eventComp]="eventComp", (eventTeamNew)="eventTeamNew($event)")

    tr.d-md-none
      td.text-left.event-status([attr.colspan]="rndInfo.length + 2") {{ eventComp?.status }}

    ng-container(*ngFor!="let team of eventComp?.teams; let tI = index; let tOdd = odd; let tEven = even;")
      tr.py-3.comp-header(*ngIf!="(tI < 3 || eventComp.shown) && (tI == 0 || tI % 5 == 0)")
        td.text-nowrap.text-center.event-subheader.noselect(*ngFor!="let rnd of rndInfo$ | async;", style="width:35px;") {{ rnd.name }}
        td.text-nowrap.text-left.event-subheader.noselect(style="width:35px;", [attr.colspan]="(tI == 0) ? 1 : 2") Total
        td.text-left.d-none.d-md-block.px-2.event-status.noselect(*ngIf!="tI == 0") {{ eventComp?.status }}

      tr.d-md-none([ngClass]="{ stripedTr: tEven, firstPlaceTr: (eventComp.complete && tI == 0), secondPlaceTr: (eventComp.complete && tI == 1), thirdPlaceTr: (eventComp.complete && tI == 2) }", *ngIf="tI < 3 || eventComp.shown")
        td.team-name.flex-1.noselect([attr.colspan]="rndInfo.length + 2")
          .d-flex.justify-content-between
            .pr-2(style="font-size:.75rem;", *ngIf!="eventComp.complete") {{ tI + 1 }}
              sup {{ tI + 1 | ordinal: false }}
            | {{ team.name }}
            .pl-2(style="font-size:.75rem") Avg: ({{ team.compAvg }})
            //- .ml-auto
              fa-icon([icon]='["fas", "pencil-alt"]')

      tr.teamscore-line(
          [ngClass]="{ stripedTr: tEven, firstPlaceTr: (eventComp.complete && tI == 0), secondPlaceTr: (eventComp.complete && tI == 1), thirdPlaceTr: (eventComp.complete && tI == 2) }",
          *ngIf="tI < 3 || eventComp.shown"
       )
        td.text-nowrap.scorebox.pointer.noselect(
          [ngClass]="{scoreboxfilled: team.scores[rI] !== null}",
          *ngFor!="let rnd of rndInfo$ | async;let rI = index;",
          (click)="fetchScorePacket(team, rI + 1)"
        )
          .text-center(*ngIf!="team.scores[rI] !== null") {{ team.scores[rI] | number:'1.0-2' }}
          //- a(*ngIf!="team.score[rI] === -1", [href]="rnd.name | createDubLink:EventSlug:team")
            fa-icon([icon]='["fas", "video"]')

        td.text-nowrap.text-center.team-total.noselect(style="width:35px;") {{ team.compTotal | number :'1.0-1' }}
        td.text-left.d-none.d-md-block.px-2.team-name.flex-1.noselect
          .d-flex.justify-content-between
            .pr-2(style="font-size:.75rem;", *ngIf!="eventComp.complete") {{ tI + 1 }}
              sup {{ tI + 1 | ordinal: false }}
            | {{ team.name }}
            .pl-2.team-avg Avg: ({{ team.compAvg }})
            //- .ml-auto
              fa-icon([icon]='["fas", "pencil-alt"]')

      tr(*ngIf!="team.scorePacket && team.scorePacket.length", style="min-height: 5em;height: 5em;")
        td.noselect([attr.colspan]="rndInfo.length + 2")
          .d-flex.flex-fill.flex-row
            .p-0.flex-grow-1.text-dark Scores for {{ team.name }}, {{ team.scorePacketRndStr }}
            .ml-auto.pointer.text-danger((click)="team.scorePacket = []")
              fa-icon([icon]='["fas", "times-circle"]')
          app-event-scoresheet([scoreSheets]="team.scorePacket")

    tr([hidden]="!eventComp.shown")
      td.p-0.text-nowrap.text-center.noselect.event-draw(*ngFor!="let rnd of rndInfo$ | async;let rI = index;", style="width:35px;") 
        div(*ngFor!="let rndDraw of rnd.draw") {{ rndDraw }}
      td.event-notes.d-none.d-md-table-cell(colspan="3") Notes: {{ eventComp.notes }}
    tr.d-md-none([hidden]="!eventComp.shown")
      td.event-notes([attr.colspan]="rndInfo.length + 2") Notes: {{ eventComp.notes }}