<div class="dropup vl vbr vp" style="right: 75px;width:50px;">
    <div class="dropbtn">{{ videoTimesheetService?.videoSettings?.currentPreset | slice:0:4 }}</div>
    <div class="dropup-content"><a *ngFor="let preset of configService.config.videoTimesheetSettings | keyvalue;" (click)="changeVideoSettings(preset.value)">{{ preset.key | slice:0:4 }}</a></div>
</div>
<div class="dropup vl vbr vp noselect" style="right: 25px;width:50px;">
    <div class="dropbtn" (click)="videoPlayerService.videoPlaybackRate(1)">{{ videoPlayerService.playbackRate }}%</div>
    <div class="dropup-content" style="background-color: black;bottom: -5px;width:50px;">
        <a class="text-center" (click)="videoPlayerService.videoPlaybackRateMove(5)"><fa-icon [icon]='["fas", "plus"]'></fa-icon></a><a class="text-center" (click)="videoPlayerService.videoPlaybackRateMove(-5)"><fa-icon [icon]='["fas", "minus"]'></fa-icon></a><a class="text-center">{{ videoPlayerService.playbackRate }}%</a>
    </div>
</div>
<div class="vl vp" *ngIf="!videoService.isFullscreen" style="right: 0px;width:25px;" (click)="goFullscreen()"><fa-icon [icon]='["fas", "expand-arrows-alt"]'></fa-icon></div>
<div class="vl vp" *ngIf="videoService.isFullscreen" style="right: 0px;width:25px;" (click)="videoService.exitFullscreen()"><fa-icon [icon]='["fas", "compress-arrows-alt"]'></fa-icon></div>
