<app-top-nav><app-header backgroundImage='url("assets/img/ron_shipp/16-way-1-bg.jpg")' heading="Videos" subHeading="Tool For Creating PDF Divesheets" [siteHeading]="true"></app-header></app-top-nav
><ng-container
    ><div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col mb-1" *ngFor="let cI of capturedImages;" style="flex-grow: 0;"><img [dndDraggable]="cI" style="max-width:100px;max-height:100px;" [src]="cI.uri" (dndStart)="imgDragStart($event)" /></div>
        </div>
        <div class="row">
            <div class="col-6 noselect">
                <div class="pdfWysiwygControlsContainer mx-auto" style="height: auto;">
                    <div class="controls_wrapper" style="display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: end;">
                        <div class="vp vbr vc" style="width:25px;" [class.active]="leftPane === 'grab'" (click)="leftPane = 'grab'"><fa-icon [icon]='["fas", "hand-pointer"]'></fa-icon></div>
                        <div class="vp vbr vc px-1" *ngFor="let preDKey of preDefinedSetsKeys;" [class.active]="leftPane === preDKey" (click)="leftPane = preDKey">{{ preDefinedSets[preDKey]?.title }}</div>
                    </div>
                </div>
                <ng-container *ngFor="let preDKey of preDefinedSetsKeys;"
                    ><div class="presetContainer" *ngIf="leftPane === preDKey">
                        <div *ngIf="!preDefinedSets[preDKey]?._showGenerator"><a (click)="preDefinedSets[preDKey]._showGenerator = true">Draw Generator</a></div>
                        <div class="container mb-2" *ngIf="preDefinedSets[preDKey]?._showGenerator">
                            <div class="row">
                                <div class="col no-wrap">Rounds:<input class="mx-auto py-0 px-1" type="number" standalone value="10" [(ngModel)]="preDefinedSets[preDKey]._dgRounds" style="width: 3em;" min="1" /></div>
                                <div class="col no-wrap">Min:<input class="mx-auto py-0 px-1" type="number" standalone value="10" [(ngModel)]="preDefinedSets[preDKey].min" style="width: 3em;" min="1" /></div>
                                <div class="col"><button class="btn btn-outline-primary" (click)="generateDraw(preDKey)">Generate Draw</button></div>
                                <div class="col"><button class="btn btn-outline-primary" (click)="pastePDF(preDKey)">Paste PDF</button></div>
                            </div>
                            <div class="row mt-2">
                                <div class="mr-2" *ngFor="let gD of [].constructor(preDefinedSets[preDKey]._dgRounds);let gInd = index;">Round: {{ gInd + 1 }}<input class="ml-2 py-0 px-1" type="text" standalone [(ngModel)]="preDefinedSets[preDKey]._dgDraw[gInd]" style="width: auto;" /></div>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: row;flex-wrap: wrap;"><img class="singleBlock" *ngFor="let imgName of preDefinedSets[preDKey]?.randoms" [src]="preDefinedSets[preDKey]?.assets + imgName + '.png'" [dndDraggable]="{url: preDefinedSets[preDKey]?.assets + imgName + '.png'}" (dndStart)="imgDragStart($event)" /></div>
                        <div class="mt-2" style="display: flex;flex-direction: row;flex-wrap: wrap;"><img class="tripleBlock" *ngFor="let imgName of preDefinedSets[preDKey]?.blocks" [src]="preDefinedSets[preDKey]?.assets + imgName + '.png'" [dndDraggable]="{url: preDefinedSets[preDKey]?.assets + imgName + '.png'}" (dndStart)="imgDragStart($event)" /></div></div
                ></ng-container>
                <div class="container" [hidden]="leftPane !== 'grab'">
                    <div class="pdfWysiwygControlsContainer mx-auto" #toolPanel>
                        <div class="controls_wrapper">
                            <div class="vl" style="left: 0px;width:125px;"><input class="localInput" #LocalFile type="file" name="localFile" accept=".pdf" (click)="LocalFile.value = ''" /></div>
                            <div class="vl vbl vp vc" style="right: 90px;width:25px;" (click)="prevPage()"><fa-icon [icon]='["fas", "minus"]'></fa-icon></div>
                            <div class="vl" style="right: 50px;width:40px;font-size: 10pt;"><input class="mx-auto py-0 px-1" name="pdfUrl" type="text" standalone [(ngModel)]="pageNum" size="3" /></div>
                            <div class="vl vbr vp vc" style="right: 25px;width:25px;" (click)="nextPage()"><fa-icon [icon]='["fas", "plus"]'></fa-icon></div>
                            <div class="vl vp vc" style="right: 170px;width:25px;"><fa-icon [icon]='["fas", "download"]' (click)="captureImage()">Capture</fa-icon></div>
                            <div class="vl vp vc" style="right: 0px;width:25px;" (click)="leftPane = 'assets'"><fa-icon [icon]='["fas", "times"]'></fa-icon></div>
                        </div>
                    </div>
                    <div style="background-color: #FFFFFF;position: relative;"><canvas class="mt-2" id="the-canvas" #TheCanvas style="direction: ltr;width:1px;height:1px;"></canvas></div>
                </div>
            </div>
            <div class="col-6" #WysiwygElem><app-pdf-wysiwyg [pdfService]="pdfService" (save)="saveDataset($event)" [svg]="svg" [width]="viewWidth" [height]="viewHeight" [viewScale]="viewScale" [pdfScale]="pdfScale"></app-pdf-wysiwyg></div>
        </div>
    </div>
    <app-pdf-wysiwyg-layers class="print_hide" #layerbox [pdfService]="pdfService"></app-pdf-wysiwyg-layers
></ng-container>
