app-layout-blog
  app-header(
    backgroundImage='https://source.unsplash.com/1900x1200/',
    heading='2020 CF Ghost Nationals',
    subHeading='Nov. 3rd - Nov 8th, 2020',
  )

  ng-container(*ngIf!='!actionCtrl.navLoading; else navLoadingEle')

    app-event-admin-header

    app-spinner([showSpinner]='loading', textSpinner='Loading ...')

ng-template(#navLoadingEle)
  div Changing Pages
  app-spinner([textSpinner]="'Changing Pages'")