.container.mb-3
  .row
    button.col.btn.btn-outline-primary.m-2.h5(
      type="button",
      [routerLink]="['teams']"
    ) Teams
    button.col.btn.btn-outline-primary.m-2.h5(
      type="button",
      [routerLink]="['judging']"
    ) Judge Results
    button.col.btn.btn-outline-primary.m-2.h5(
      type="button",
      [routerLink]="['website']"
    ) Website
   
