div.ngx-spinner(
  style="position: relative;height:100px;",
  *ngIf!="showSpinner"
)
  ngx-spinner(
    bdColor='rgba(0,0,0,0)',
    color='#ff5e00',
    size='medium',
    [fullScreen]='false',
    [zIndex]="8"
  )
    h3(*ngIf='textSpinner', style='padding-top: 100px;') {{ textSpinner }}