<div class="timesheet_wrapper" #VideoTimesheetElem>
    <ng-container *ngIf="videoTimesheetService.marks$ | async as tsMarks"
        ><div class="d-flex flex-row p-0 align-content-start noselect" *ngIf="tsMarks.length">
            <div class="d-flex flex-row flex-wrap flex-grow-1 score_line_wrapper">
                <div class="overlay" *ngIf="isSaving"></div>
                <div class="score_line_entry px-2 py-3" *ngFor="let item of tsMarks; let i = index" [class]="item.class" [ngStyle]="{'background-color': (videoTimesheetService.markSelected === i)?'yellow':''}">
                    <div class="score_ident" *ngIf="i === 0" (click)="videoPlayerService.videoGoto(item.time)">E</div>
                    <div class="score_ident" *ngIf="i === 1 && i <= videoTimesheetService.videoSettings.tossStartCount" (click)="videoPlayerService.videoGoto(item.time)">S</div>
                    <div class="score_ident" *ngIf="i > videoTimesheetService.videoSettings.tossStartCount" (click)="videoPlayerService.videoGoto(item.time)">{{ (i - videoTimesheetService.videoSettings.tossStartCount) }}</div>
                    <div class="score_class" *ngIf="i <= videoTimesheetService.videoSettings.tossStartCount" (click)="editPoint($event, i, item.class)" (dblclick)="removePoint($event, i)">&nbsp;</div>
                    <div class="score_class" *ngIf="i > videoTimesheetService.videoSettings.tossStartCount" (click)="editPoint($event, i, item.class)" (dblclick)="removePoint($event, i)">{{ item.class | classToScoremark }}</div>
                </div>
            </div>
            <div class="p-2 text-center flex-shrink-1">
                <div class="btn btn-sm btn-outline-danger px-2" (click)="clearClick($event)" (dblclick)="clearDblClick($event)"><fa-icon [icon]='["fas", "toilet"]'></fa-icon></div>
            </div>
        </div>
        <div class="d-flex flex-row align-content-start flex-wrap p-1 noselect" *ngIf="tsMarks.length">
            <ng-container *ngFor="let mark of tsMarks; let l = index"
                ><div class="btn-group w-100 border-bottom mb-2" dropdown *ngIf="mark.class === 'bust'" [ngStyle]="{'background-color': (!mark.reason) ? 'rgba(255, 0, 0, .25)' : ''}">
                    <div class="btn btn-primary dropdown-toggle" dropdownToggle aria-controls="dropdown-basic"><span class="caret"></span><span class="pr-2" style="width:2em;">{{ (l - videoTimesheetService.videoSettings.tossStartCount) }}:</span>{{ mark.reason }}</div>
                    <ul class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let fract of configService.config.videoInfractions;"><div class="dropdown-item" (click)="editMarkReason($event, l, fract)">{{ fract }}</div></li>
                    </ul>
                    <input class="border score_infraction" [(ngModel)]="videoTimesheetService.markList[l].explain" type="text" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;" /></div
            ></ng-container></div
    ></ng-container>
    <div class="text-left p-3 h4" *ngIf="isScoreSaved">Score Saved!</div>
    <div class="d-flex flex-row align-self-center score_line_name p-0">
        <div class="p-2 text-left">
            {{ totalScore }} / {{ pointsInTime }}
            <div class="btn btn-sm btn-outline-primary px-2" (click)="saveClick($event)" style="height:2em"><fa-icon *ngIf="!isSaving" [icon]='["far", "save"]'></fa-icon><fa-icon *ngIf="isSaving" [spin]="true" [icon]='["fas", "cog"]'></fa-icon></div>
            <div class="btn btn-sm btn-outline-danger px-2" *ngIf="!setPenalty"><fa-icon [icon]='["fas", "bullhorn"]' (click)="penaltyClick($event)"></fa-icon></div>
        </div>
        <div class="p-2 flex-grow-1">
            <div class="p-1" *ngIf="setPenalty"><label for="penaltyAmt">Points</label><br /><input class="border-1" id="penaltyAmt" [(ngModel)]="penaltyAmt" [ngStyle]="{'background-color': (videoService.allowInput) ? 'rgba(0, 255, 0, .25)' : ''}" type="number" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;updatePenaltyPercent()" (change)="updatePenaltyPercent()" style="width:50px;" /></div>
            <div class="p-1" *ngIf="setPenalty"><label for="penaltyPercent">Percent</label><br /><input class="border-1" id="penaltyPercent" [(ngModel)]="penaltyPercent" [ngStyle]="{'background-color': (videoService.allowInput) ? 'rgba(0, 255, 0, .25)' : ''}" type="number" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;updatePenaltyAmt()" (change)="updatePenaltyAmt()" style="width:50px;" /></div>
            <div class="p-1" *ngIf="setPenalty"><label for="penaltyReason">Penalty Reason</label><br /><input class="border-1" id="penaltyPercent" [(ngModel)]="penaltyReason" [ngStyle]="{'background-color': (videoService.allowInput) ? 'rgba(0, 255, 0, .25)' : ''}" type="text" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;" style="width:160px;" /></div>
            {{ videoPlayerService?.videoTitle }}
            <div class="p-1 score_name" *ngIf="userInfo?.id">Judged By (Official):<input class="border-0" [(ngModel)]="scorecardName" [ngStyle]="{'background-color': (videoService.allowInput) ? 'rgba(0, 255, 0, .25)' : ''}" type="text" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;" /></div>
            <div class="p-1 score_name" *ngIf="!userInfo?.id">Judged By:<input class="border-0" [(ngModel)]="scorecardName" [ngStyle]="{'background-color': (videoService.allowInput) ? 'rgba(0, 255, 0, .25)' : ''}" type="text" (focus)="videoService.allowInput = true;" (blur)="videoService.allowInput = false;" /></div>
        </div>
    </div>
</div>
