<div class="row info_window print_hide noselect" *ngIf="pdfService.showLayers" #layersPanel ngxDraggableDom="true" [handle]="layersPanelHandlebar" style="cursor: pointer;">
    <div class="header draggable_handlebar" #layersPanelHandlebar>
        Layers
        <div style="float: right;" (click)="pdfService.showLayers = !pdfService.showLayers"><fa-icon [icon]='["fas", "times"]'></fa-icon></div>
    </div>
    <div class="content container">
        <div class="layer_item row" *ngFor="let layer of pdfService.allItems; let i = index; let first = first; let last = last" [class.highlight]="pdfService.activeItem == layer" (click)="selectItem(layer)">
            <div class="col">{{ layer.id }} [{{ layer.t }}]</div>
            <div class="col-1"><fa-icon (click)="layerDown(i, $event)" [icon]='["fas", "arrow-down"]'></fa-icon></div>
            <div class="col-1"><fa-icon (click)="layerUp(i, $event)" [icon]='["fas", "arrow-up"]'></fa-icon></div>
        </div>
    </div>
</div>
