<div id="changepassword" class="container">
  <div>Change Password</div><hr />
  <form name="form" (ngSubmit)="f.form.valid && changepassword()" #f="ngForm" novalidate autocomplete="off">
    <div class="form-group">
      <label for="oldpassword">Old Password</label>
      <input type="password" class="form-control" name="oldpassword" [(ngModel)]="model.oldpassword" #oldpassword="ngModel" required />
      <div *ngIf="f.submitted && !oldpassword.valid" class="help-block">Old Password is required</div>
    </div>

    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input type="password" class="form-control" name="newpassword"
          [(ngModel)]="model.newpassword" #newpassword="ngModel" required
      />
      <div *ngIf="f.submitted && !newpassword.valid" class="help-block">New Password is required</div>
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" class="form-control" name="confirmpassword" 
          [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required
          [ngClass]="{ 'has-error': (model.newpassword !== '' && model.confirmpassword !== model.newpassword) }"
      />
      <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block">Confirm Password is required</div>
      <div *ngIf="f.submitted && model.confirmpassword !== model.newpassword" class="help-block">New and Confirm Password Do Not Match.</div>
    </div>        
    <div class="form-group">
      <button class="btn btn-primary">Save Password</button>
      <a [routerLink]="returnUrl" class="btn btn-link">Keep Old Password</a>
      <span *ngIf="changeErr" class="bg-danger p-3 ml-2">Change Failed, {{ changeErr }}</span>
    </div>
  </form>
</div>