app-pdf-wysiwyg-toolbox.print_hide(
  *ngIf!="service.editable", #toolbox,
  [pdfService]="service", (runDraw)="draw()",
  (runClearCanvas)="service.clearCanvas()",
  (runMakePDF)="service.makePDF()",
  (stopArrows)="stopArrows($event)"
)

div(
  style="background-color: #FFFFFF;position: relative;",
  dndDropzone,
  (dndDrop)="dropEvent($event, service.dragOffsets)"
)
  .background(
    #editBackground,
    [style.width]="'100%'",
    [hidden]="!service.pdfSvg"
  )
    img.svg(
      #imgRef,
      [src]="service.pdfSvg",
      [attr.width]="service.pixelWidth + 'px'",
      (load)="resizeCanvas()",
      alt=""
    )

  .canvas_overlay(
    [hidden]!="!service.editable",
    [style.width]!="'100%'"
  )
    canvas.canvas(
      #editCanvas, [attr.width]="service.pixelWidth + 'px'",
      (mousedown)="canvasEvent($event)", (mouseup)="canvasEvent($event)",
      (mousemove)="canvasEvent($event)", (mouseout)="canvasEvent($event)",
      (touchstart)="canvasEvent($event)", (touchmove)="canvasEvent($event)",
      (touchend)="canvasEvent($event)", (touchcancel)="canvasEvent($event)"
    )

  .canvas_overlay.pdf(
    [style.width]="'100%'",
    *ngIf!="service.displayMode === 'input' && service.allItems.length"
  )
    ng-template(
      ngFor,
      let-f!="$implicit",
      [ngForOf]="service.allItems",
      let-i="index"
    )
      app-pdf-wysiwyg-textbox(
        *ngIf!="f.t === 'textbox'",
        [scale]="viewScale",
        [obj]="f.obj",
        [id]="f.id",
        (itemChanged)="itemChanged($event, f)",
        (itemFocused)="itemFocused($event, f)",
        (itemLost)="itemLost($event)"
      )

      app-pdf-wysiwyg-cross(
        *ngIf="f.t === 'cross'",
        [scale]="viewScale",
        [obj]="f.obj",
        (itemClicked)!="itemClicked($event, f)"
      )


