<div class="container">
  <div>Login</div><hr />
  <form name="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="loginForm.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <!--
    <div class="form-group">
      <div class="col-sm-offset-1">
        <label class="checkbox">
          <input type="checkbox" value="true" name="rememberme" [(ngModel)]="model.rememberme"> Remember Me
        </label>
      </div>
    </div> -->
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="!loading">Login</span>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </button>
      <span *ngIf="!authFailed && loginForm.submitted && !loginForm.form.valid" class="bg-danger p-3 ml-2">Missing Username or Password field.</span>
      <span *ngIf="authFailed" class="bg-danger p-3 ml-2">Failed Login Attempt, {{ authFailed }}</span>
      <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a>
      <a [routerLink]="['/forgot-password']" class="btn btn-link">Forgot Password</a> -->
      <!-- <div id="login-form"></div> -->
    </div>
  </form>
</div>
