@import 'styles/variables.scss';

.profileSearchWrapper {
  padding: 0 15px;
}

.profileSearchInp {
  margin-top: 15px;
  margin-right: 4px;
  max-width: 65%;
}

.profileSearchBtn {
  padding: 3px 8px;
}